/* Styles for general elements */
body {
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
}

h1 {
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin: 10px;
}

*:not(h1) {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

label, legend {
    text-decoration: underline;
    color: chocolate;
}

input:not([type='submit']) {
    border-width: 3px;
    border-color: brown;
    border-style: dotted;
    border-radius: 5px;
    background-color: bisque;
}

img {
    border-width: 2px;
    border-color: mediumvioletred;
    border-style: groove;
}

fieldset {
    color: grey;
}

[type='submit'] {
    border-width: 3px;
    border-color: blueviolet;
    color: maroon;
}

/* Styles for elements with specific backgrounds and colors */
body {
    background-color: antiquewhite;
    text-transform: capitalize;
}

.opciones {
    background-color: burlywood;
    text-transform: capitalize;
}

#enviar {
    border-width: 5px;
    border-color: brown;
    border-style: double;
    color: green;
    background-color: wheat;
    margin: 15px;
}

#edad {
    background-color: wheat;
    color: brown;
}

#ciudad {
    background-color: beige;
    color: green;
}

input:not([type='submit']) {
    margin: 10px;
    background-color: white;
    border-width: 3px;
    border-style: hidden;
}